{% extends 'base.html' %}

{% block title %}
    <title>About - MyNotes</title>
{% endblock title %}

{% block content %}
<!--
    <div class="container">
        <h1>{{ about_text }}</h1>
    </div>
-->  
<div class="container">
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <center><p class="h1 text-primary titlefont1">Hello!</p>
                <br>
                <p class="h3 titlefont1">My name is Daria.</p>
                <p class="h3 titlefont1">This is a project I made while learning Django</p>
                <p class="h3 titlefont1">based on this great Udemy course:</p>
                <a class="h4 nav-link" href="https://www.udemy.com/course/complete-django-masterclass/">
                    Django A-Z: Build & Deploy Web Project With Python & Django
                </a>
            </center>
        </div>
        
    </div>
</div>  
{% endblock content %}

