{% extends 'base.html' %}

{% block title %}
    <title>Contact - MyNotes</title>
{% endblock title %}

{% block content %}
<!--
    <div class="container">
        <h1>{{ contact_text }}</h1>
    </div>
-->  
<div class="container">
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <center>
                <p class="h3 titlefont1">You can find me here!</p>
                <a class="h3 titlefont1 nav-link" href="https://github.com/dariak0108">
                    My GitHub
                </a>
                <a class="h3 titlefont1 nav-link" href="https://www.linkedin.com/in/daria-kuznetsova-0108">
                    My LinkedIn
                </a>
            </center>
        </div>
        
    </div>
</div>  

{% endblock content %}

