{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Welcome to MyNotes!</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <!-- <h1>{{ index_text }}</h1> -->
        <div class="row mt-5">
            <div class="col-md-12">
                <center><img src="{% static 'images/pexels-prashant-gautam-709626.jpg' %}" alt="notes" class="rounded-lg shadow-sm" width="427" height="240">
                </center>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1 text-primary titlefont1">Quick and easy task manager!</p>
                <p class="h3 titlefont1">Make your notes here!</p>
                <a href="{% url 'todolist' %}"><button type="button" class="titlefont2 btn btn-primary btn-lg mt-3 shadow">Get Started!</button></a></center>
            </div>
            
        </div>
    </div>  
{% endblock content %}

