{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Login - MyNotes</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br>
        <h2 class="titlefont1">Login on MyNotes</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" class="mt-5 col-6">
            {% csrf_token %}

            <!-- 'form' is django name, not our name -->
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary mb-5">Login</button>
            <!-- django redirects the user to a 'profile/' page after login -->
        </form>
        
    </div>  
{% endblock content %}

